@page "/about"

<PageTitle>About Sproom Inbox</PageTitle>

<h1>Welcome to Sproom Inbox</h1>

<p>Sproom Inbox is a place to handle your incoming invoices and credit notes.</p>

<p>Well, in fact it's a playground for candidates to show some coding skills :-)</p>
