@page "/users"
@using SproomInbox.Shared
@inherits AllUsersBase

<PageTitle> Users Table Page</PageTitle>

<h2>Welcome Users Table Page</h2>
<br />

@if (users != null)
{
    <p>You have @users.Count users</p>
    <br/>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Username</th>
                <th></th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Username</td>
                </tr>
            }
        </tbody>
    </table>
}