@page "/documentHistory/{DocumentId}"
@using SproomInbox.Shared
@inject HttpClient Http


<PageTitle>Document History</PageTitle>

<h1>Document History</h1>

@if (documentStates != null)
{
    <p>Document @DocumentId state history</p>
    <br />
    <br />

    <table class="table">
        <thead>
            <tr>
                <th>State</th>
                <th>Date</th>
                <th>Approver</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var documentState in documentStates)
            {
                <tr>
                    <td>@documentState.State</td>
                    <td>@documentState.Timestamp</td>
                    <td>@documentState.Username</td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-primary table-btn" @onclick="@GoBack">Go Back</a> 
         

} 
else {
    <p><em>Loading...</em></p>
}

@code {
    private IList<StateHistoryModel>? documentStates;
    [Inject]
    public NavigationManager NavigationManager { get; set; }

    [Parameter]
    public string DocumentId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Guid documentGuid;

        if ( Guid.TryParse(DocumentId, out documentGuid) )
        {
            documentStates = await Http.GetFromJsonAsync<IList<StateHistoryModel>>($"Document/{DocumentId}/history");            
        }
    }

    public void GoBack()
    {
        NavigationManager.NavigateTo("/");
    }
}


